:root {
    --primary-font: 'Roboto', sans-serif;
    --secondary-font: 'Raleway', sans-serif;
    --primary-color: #212121;
    --secondary-color: #2196f3;
}

.main_logo {
    font-weight: 700;
    font-size: 26px;
    font-family: var(--secondary-font)
}

.nav_item_list {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.2;
    color: var(--primary-color);
    font-family: var(--primary-font);
}

.nav_item_list a:hover {
    color: var(--secondary-color)
}

.contact_item_list a:hover,
.contact_item_list a:focus {
    color: var(--secondary-color);
}

.current {
    color: var(--secondary-color);
}
.contact_item_list {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.2;
    font-family: var(--primary-font);
    color: #757575
}

.main_title {
    background-color: #2F303A;
    color: #fff;
}
.main_title_h1 {
    font-weight: 900;
    font-size: 44px;
    text-align: center;
    line-height: 3.75;
    font-family: var(--primary-font);
}

.main_button {
    color: #fff;
    border-radius: 4px;
    font-weight: 700;
    font-size: 16px;
    border: none;
    text-align: center;
    line-height: 1.87;
    font-family: var(--primary-font);
    background-color: var(--secondary-color);
    box-shadow: 0px 4px 4px 0px #00000026;
}

.main_button:hover,
.main_button:focus {
    background-color: #188ce8;
    box-shadow: 0px 4px 4px 0px #00000026;
}

/* Team Qualities */
.team_qualities_skill {
    font-family: var(--primary-font);
    font-weight: 700;
    font-size: 14px;
    color: var(--primary-color);
    line-height: 1.2;
}
.team_qualities_text {
    font-family: var(--primary-font);
    font-weight: 400;
    font-size: 14px;
    color: #757575;
    line-height: 1.5;
}

/* What we do */

.whatwedo_section {
    font-family: var(--primary-font);
    font-weight: 700;
    font-size: 36px;
    line-height: 2.63;
}

/* Our Team */

.ourteam {
    font-family: var(--primary-font);
    font-weight: 700;
    font-size: 42px;
    color: var(--primary-color);
    text-align: center;
    line-height: 2.63;
}

.ourteam_name {
    font-family: var(--primary-font);
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    color: var(--primary-color);
    line-height: 1.17;
}
.ourteam_text {
    font-family: var(--primary-font);
    font-weight: 400;
    font-size: 16px;
    color: #757575;
    text-align: center;
    line-height: 1.17;
}

/* PORTOFOLIO */

.button_list {
    font-family: var(--primary-font);
    font-weight: 500;
    font-size: 16px;
    border-radius: 4px;
    line-height: 1.6;
    color: #fff;
    border-style: none;
}

button:hover,
button:focus {
    color: #fff;
    background-color: var(--secondary-color);
    border-style: none;
    border-radius: 4px;
}

.portofolio_name {
    font-family: var(--primary-font);
    font-weight: 700;
    font-size: 18px;
    color: var(--primary-color);
    text-align: center;
    line-height: 2.25;
}
.portofolio_text {
    font-family: var(--primary-font);
    font-family: 400;
    font-size: 16px;
    color: #757575;
    text-align: center;
    line-height: 1.87;
}

/* Contact Adress */
.main_footer {
    font-family: var(--primary-font);
    font-weight: 400;
    background-color: #2F303A;
    font-size: 26px;

}
.address {
    color: #fff;
    font-style: normal;
}
.address_location {
    font-family: var(--primary-font);
    font-weight: 400;
    font-size: 14px;
    color: #FFFFFF;
    line-height: 1.2%;
}
.address_contact {
    font-family: var(--primary-font);
    font-weight: 400;
    font-size: 14px;
    color: #FFFFFF99;
    opacity: 60%;
    line-height: 1;
}

/* For all pages */
ul {
    list-style-type: none;
}
a{
    text-decoration: none;
}
button {
    cursor: pointer;
}
