:root {
    --primary-font: 'Roboto', sans-serif;
    --secondary-font: 'Raleway', sans-serif;
    --primary-color: #212121;
    --secondary-color: #2196f3;
}

.main_logo {
    font-weight: 700;
    font-size: 26px;
    font-family: var(--secondary-font)
}

.main_nav a:hover {
    color: #2196F3;
}    

.main_title {
    background-color: #2F303A;
    color: #fff;
}
.main_title_h1 {
    font-weight: 900;
    font-size: 44px;
    text-align: center;
    font-family: var(--primary-font);
}

.main_buttton {
    color: #fff;
    border-radius: 4px;
    font-weight: 700;
    font-size: 16px;
    border: none;
    text-align: center;
    font-family: var(--primary-font);
    background-color: var(--secondary-color)
}

/* Team Qualities */
.team_qualities_skill {
    font-family: var(--primary-font);
    font-weight: 700;
    font-size: 14px;
    color: var(--primary-color);
}
.team_qualities_text {
    font-family: var(--primary-font);
    font-weight: 400;
    font-size: 14px;
    color: #757575;
}

/* What we do */

.whatwedo_section {
    font-family: var(--primary-font);
    font-weight: 700;
    font-size: 36px;
}

/* Our Team */

.ourteam {
    font-family: var(--primary-font);
    font-weight: 700;
    font-size: 42px;
    color: var(--primary-color);
    text-align: center;
}

.ourteam_name {
    font-family: var(--primary-font);
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    color: var(--primary-color);
}
.ourteam_text {
    font-family: var(--primary-font);
    font-weight: 400;
    font-size: 16px;
    color: #757575;
    text-align: center;
}

/* PORTOFOLIO */

.button_portofolio button:hover {
    color: #212121;
    font-family: var(--primary-font);
    font-weight: 500;
    font-size: 16px;
    border-radius: 4px;
    border: none;
    background-color: var(--secondary-color)

}
.portofolio_name {
    font-family: var(--primary-font);
    font-weight: 700;
    font-size: 18px;
    color: var(--primary-color);
    text-align: center;
}
.portofolio_text {
    font-family: var(--primary-font);
    font-family: 400;
    font-size: 16px;
    color: #757575;
    text-align: center;
}

/* Contact Adress */
.main_footer {
    font-family: var(--primary-font);
    font-weight: 400;
    background-color: #2F303A;
    font-size: 26px;

}
.address {
    color: #fff;
    font-style: normal;
}
.address_location {
    font-family: var(--primary-font);
    font-weight: 400;
    font-size: 14px;
    color: #FFFFFF;
}
.address_contact {
    font-family: var(--primary-font);
    font-weight: 400;
    font-size: 14px;
    color: #FFFFFF99;
    opacity: 60%;
}

/* For all pages */
ul {
    list-style-type: none;
}
a{
    text-decoration: none;
}
button {
    cursor: pointer;
}
